---
permalink: /sitemaps/religioustheory/categories-sitemap.xml
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemaps/sitemap.xsl"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set base = metadata.url -%}
{%- set lastUpdated = theory.lastUpdated or (page.inputPath | lastModifiedDate) -%}
    <url>
        <loc>{{ base }}/religioustheory/categories/</loc>
        {% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
        <priority>0.3</priority>
    </url>

    {% set uniqueCats = [] %}
    {%- for post in theory.posts -%}
        {%- for cat in post.categories -%}
            {%- if cat and (cat not in uniqueCats) -%}
                {% set uniqueCats = (uniqueCats.push(cat), uniqueCats) %}
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}

    {%- for cat in uniqueCats | sort -%}
    <url>
        <loc>{{ base }}/religioustheory/categories/{{ cat | slugify }}/</loc>
        {% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
        <priority>0.3</priority>
    </url>
    {%- endfor %}
</urlset>