---
permalink: /sitemaps/religioustheory/docs-sitemap.xml
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set base = metadata.url -%}
{%- for doc in theoryDocs %}
    <url>
        <loc>{{ base }}{{ doc.url }}</loc>
        <lastmod>{{ doc.date | htmlDateString }}</lastmod>
        <priority>0.2</priority>
    </url>
{%- endfor %}
</urlset>
