---
permalink: /sitemaps/religioustheory/pages-sitemap.xml
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemaps/sitemap.xsl"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set lastUpdated = theory.lastUpdated or (page.inputPath | lastModifiedDate) -%}
	{%- set base = sitemapBaseUrl or metadata.url -%}
	{# Pages implemented as real templates (not data-driven) #}
	{%- for slug in ["archive", "blog"] %}
		<url>
			<loc>{{ (base ~ (("/religioustheory/" ~ slug ~ "/") | url)) | xmlEscape | safe }}</loc>
			{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
			<priority>0.4</priority>
		</url>
	{%- endfor %}
	{%- for pg in (theory.pages or []) %}
		{%- if pg.slug %}
			<url>
				<loc>{{ (base ~ (("/religioustheory/" ~ (pg.slug | slugify) ~ "/") | url)) | xmlEscape | safe }}</loc>
				{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
				<priority>0.4</priority>
			</url>
		{%- endif %}
	{%- endfor %}
	</urlset>
