---
permalink: /sitemap/religioustheory-sitemap.xml
layout: false
---
{% set lastUpdated = theory.lastUpdated or (page.inputPath | lastModifiedDate) %}
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for p in collections.all %}
	{%- if p.url and p.url.startsWith("/religioustheory/") %}
		{% set absoluteUrl %}{{ p.url | htmlBaseUrl(metadata.url) }}{% endset %}
		<url>
			<loc>{{ absoluteUrl }}</loc>
			{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
			<priority>0.7</priority>
		</url>
	{%- endif %}
{%- endfor %}
</urlset>
