---
permalink: /sitemap.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{% set sitemaps = (collections.sitemaps or []) | sort(false, false, "url") %}
	{%- for sm in sitemaps %}
		{% set absoluteUrl %}{{ sm.url | htmlBaseUrl(metadata.url) }}{% endset %}
		<sitemap>
			<loc>{{ absoluteUrl }}</loc>
			{% set lm = sm.inputPath | lastModifiedDate %}
			{% if lm %}<lastmod>{{ lm | htmlDateString }}</lastmod>{% endif %}
		</sitemap>
	{%- endfor %}
</sitemapindex>
