---
permalink: /sitemap.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemaps/sitemap.xsl"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{% set base = sitemapBaseUrl or metadata.url %}
	{% set sitemapPaths = [
		"/sitemaps/sitemap.xml",
		"/religioustheory/sitemap.xml"
	] %}

	{%- for p in sitemapPaths %}
		<sitemap>
			<loc>{{ (base ~ (p | url)) | xmlEscape | safe }}</loc>
		</sitemap>
	{%- endfor %}
</sitemapindex>
