    <footer class="text-center">
        <div class="container">
            <p class="small">{{jcrt.footer.text | md | safe}}</p>
            <p class="small fw-bold border-top border-secondary pt-3 d-inline-block" style="letter-spacing: 2px;">{{jcrt.footer.info | md | safe}}</p>
            <p class="small">Built with <a href="https://www.11ty.dev/" target="blank" class="text-white">{{ eleventy.generator }}</a> |
Develope by <a href="https://adamdjbrett.com" target="_blank" class="text-white">Adamdjbrett</a></p>
        </div>
    </footer>