---
permalink: /sitemaps/archives-pages-sitemap.xml
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemaps/sitemap.xsl"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set base = sitemapBaseUrl or metadata.url -%}
	{%- for a in collections.archives %}
		{%- if a.url %}
			<url>
				<loc>{{ (base ~ ((a.url | url) | htmlEntityDecode)) | xmlEscape | safe }}</loc>
				{% set lm = a.inputPath | lastModifiedDate %}
				{% if lm %}<lastmod>{{ lm | htmlDateString }}</lastmod>{% endif %}
				<priority>1.0</priority>
			</url>
		{%- endif %}
	{%- endfor %}
	</urlset>
