---
permalink: /sitemaps/archives-docs-sitemap.xml
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemaps/sitemap.xsl"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set base = sitemapBaseUrl or metadata.url -%}
	{%- for pdf in assets.pdfs %}
		{%- if pdf.url and pdf.url.startsWith("/archives/") %}
			<url>
				<loc>{{ (base ~ ((pdf.url | url) | htmlEntityDecode)) | xmlEscape | safe }}</loc>
				{% set lm = pdf.path | lastModifiedDate %}
				{% if lm %}<lastmod>{{ lm | htmlDateString }}</lastmod>{% endif %}
				<priority>0.2</priority>
			</url>
		{%- endif %}
	{%- endfor %}
	</urlset>
