---
permalink: /sitemaps/journal-keywords-sitemap.xml
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemaps/sitemap.xsl"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{% set base = sitemapBaseUrl or metadata.url %}
	{% set keywords = [] %}
	{% for p in collections.archives %}
		{% if p.data.keywords %}
			{% for k in p.data.keywords %}
				{% if k and (k not in keywords) %}
					{% set keywords = keywords.concat([k]) %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
	{% set keywords = keywords | sortAlphabetically %}

		{%- for k in keywords %}
			{% set tagUrl %}/tags/{{ k | slugify }}/{% endset %}
			{% set latest = "0000-00-00" %}
			{% if collections[k] and collections[k].length %}
				{% for item in collections[k] %}
					{% set d = (item.inputPath | lastModifiedDate) | htmlDateString %}
					{% if d > latest %}{% set latest = d %}{% endif %}
				{% endfor %}
				<url>
					<loc>{{ (base ~ (tagUrl | url)) | xmlEscape | safe }}</loc>
					{% if latest != "0000-00-00" %}<lastmod>{{ latest }}</lastmod>{% endif %}
					<priority>0.2</priority>
				</url>
			{% endif %}
		{%- endfor %}
	</urlset>
