---
permalink: /sitemaps/pdf-sitemap.xml
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for pdf in assets.pdfs %}
	{% set absoluteUrl %}{{ pdf.url | htmlBaseUrl(metadata.url) }}{% endset %}
	<url>
		<loc>{{ absoluteUrl }}</loc>
		{% set lm = pdf.path | lastModifiedDate %}
		{% if lm %}<lastmod>{{ lm | htmlDateString }}</lastmod>{% endif %}
		<priority>0.8</priority>
	</url>
{%- endfor %}
</urlset>
