---
permalink: /sitemaps/post-sitemap.xml
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemaps/sitemap.xsl"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
		{% set base = sitemapBaseUrl or metadata.url %}
		{% set latest = "0000-00-00" %}
	{%- for post in collections.posts %}
		{% set d = (post.inputPath | lastModifiedDate) | htmlDateString %}
		{% if d > latest %}{% set latest = d %}{% endif %}
	{%- endfor %}

	{%- for p in collections.all %}
			{% set ip = p.inputPath or "" %}
			{% if ip and ip.startsWith("./") %}{% set ip = ip.slice(2) %}{% endif %}
			{% if p.url and ip == "content/blog.md" %}
				{% set absoluteUrl %}{{ (base ~ ((p.url | url) | htmlEntityDecode)) | xmlEscape | safe }}{% endset %}
				<url>
					<loc>{{ absoluteUrl }}</loc>
					{% if latest != "0000-00-00" %}<lastmod>{{ latest }}</lastmod>{% endif %}
				<priority>0.7</priority>
			</url>
		{% endif %}
	{%- endfor %}

	{%- for post in collections.posts %}
		{% set absoluteUrl %}{{ (base ~ ((post.url | url) | htmlEntityDecode)) | xmlEscape | safe }}{% endset %}
		<url>
			<loc>{{ absoluteUrl }}</loc>
			{% set lm = post.inputPath | lastModifiedDate %}
		{% if lm %}<lastmod>{{ lm | htmlDateString }}</lastmod>{% endif %}
		<priority>0.7</priority>
	</url>
{%- endfor %}
</urlset>
