---
permalink: /sitemaps/religioustheory-categories-sitemap.xml
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set lastUpdated = theory.lastUpdated or (page.inputPath | lastModifiedDate) -%}
	<url>
		<loc>{{ "/religioustheory/categories/" | htmlBaseUrl(metadata.url) }}</loc>
		{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
		<priority>0.5</priority>
	</url>

	{% set cats = [] %}
	{%- for post in (theory.posts or []) %}
		{%- for cat in (post.categories or []) %}
			{%- if cat and (cat not in cats) %}
				{% set cats = cats.concat([cat]) %}
			{%- endif %}
		{%- endfor %}
	{%- endfor %}
	{% set cats = cats | sort %}

{%- for cat in cats %}
	<url>
		<loc>{{ ("/religioustheory/categories/" ~ (cat | slugify) ~ "/") | htmlBaseUrl(metadata.url) }}</loc>
		{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
		<priority>0.5</priority>
	</url>
{%- endfor %}
</urlset>
