---
permalink: /sitemaps/religioustheory-index.xml
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemaps/sitemap.xsl"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{% set baseUrl = sitemapBaseUrl or metadata.url %}
	{% set kinds = ["posts","pages","categories","tags","authors","docs"] %}
	{% set base = "/sitemaps/religioustheory/" %}
	{% set paths = [] %}
	{% for kind in kinds %}
		{% set paths = paths.concat([ base ~ kind ~ "-sitemap.xml" ]) %}
	{% endfor %}

	{%- for p in paths %}
		<sitemap>
			<loc>{{ (baseUrl ~ (p | url)) | xmlEscape | safe }}</loc>
		</sitemap>
	{%- endfor %}
</sitemapindex>
