---
permalink: /sitemaps/religioustheory-sitemap.xml
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set lastUpdated = theory.lastUpdated or (page.inputPath | lastModifiedDate) -%}
	<url>
		<loc>{{ "/religioustheory/" | htmlBaseUrl(metadata.url) }}</loc>
		{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
		<priority>0.7</priority>
	</url>
	<url>
		<loc>{{ "/religioustheory/posts/" | htmlBaseUrl(metadata.url) }}</loc>
		{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
		<priority>0.6</priority>
	</url>
	<url>
		<loc>{{ "/religioustheory/pages/" | htmlBaseUrl(metadata.url) }}</loc>
		{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
		<priority>0.4</priority>
	</url>
	<url>
		<loc>{{ "/religioustheory/categories/" | htmlBaseUrl(metadata.url) }}</loc>
		{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
		<priority>0.5</priority>
	</url>
	<url>
		<loc>{{ "/religioustheory/tags/" | htmlBaseUrl(metadata.url) }}</loc>
		{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
		<priority>0.4</priority>
	</url>
	<url>
		<loc>{{ "/religioustheory/authors/" | htmlBaseUrl(metadata.url) }}</loc>
		{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
		<priority>0.4</priority>
	</url>
	<url>
		<loc>{{ "/religioustheory/taxonomy/" | htmlBaseUrl(metadata.url) }}</loc>
		{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
		<priority>0.4</priority>
	</url>

{%- for post in (theory.posts or []) %}
	{%- if post.slug %}
		<url>
			<loc>{{ ("/religioustheory/posts/" ~ (post.slug | slugify) ~ "/") | htmlBaseUrl(metadata.url) }}</loc>
			{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
			<priority>0.7</priority>
		</url>
	{%- endif %}
{%- endfor %}

{%- for pg in (theory.pages or []) %}
	{%- if pg.slug %}
		<url>
			<loc>{{ ("/religioustheory/pages/" ~ (pg.slug | slugify) ~ "/") | htmlBaseUrl(metadata.url) }}</loc>
			{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
			<priority>0.4</priority>
		</url>
	{%- endif %}
{%- endfor %}

	{% set cats = [] %}
	{%- for post in (theory.posts or []) %}
		{%- for cat in (post.categories or []) %}
			{%- if cat and (cat not in cats) %}
				{% set cats = cats.concat([cat]) %}
			{%- endif %}
		{%- endfor %}
	{%- endfor %}
	{% set cats = cats | sort %}

{%- for cat in cats %}
	<url>
		<loc>{{ ("/religioustheory/categories/" ~ (cat | slugify) ~ "/") | htmlBaseUrl(metadata.url) }}</loc>
		{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
		<priority>0.5</priority>
	</url>
{%- endfor %}

{%- for tag in (religioustheory_taxonomy.tags or []) %}
	<url>
		<loc>{{ ("/religioustheory/tags/" ~ (tag | slugify) ~ "/") | htmlBaseUrl(metadata.url) }}</loc>
		{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
		<priority>0.4</priority>
	</url>
{%- endfor %}

{%- for authorName in (religioustheory_taxonomy.authors or []) %}
	<url>
		<loc>{{ ("/religioustheory/authors/" ~ (authorName | slugify) ~ "/") | htmlBaseUrl(metadata.url) }}</loc>
		{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
		<priority>0.4</priority>
	</url>
{%- endfor %}
</urlset>
