---
permalink: /sitemaps/religioustheory-tags-sitemap.xml
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set lastUpdated = theory.lastUpdated or (page.inputPath | lastModifiedDate) -%}
	<url>
		<loc>{{ "/religioustheory/tags/" | htmlBaseUrl(metadata.url) }}</loc>
		{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
		<priority>0.4</priority>
	</url>

{%- for tag in (religioustheory_taxonomy.tags or []) %}
	<url>
		<loc>{{ ("/religioustheory/tags/" ~ (tag | slugify) ~ "/") | htmlBaseUrl(metadata.url) }}</loc>
		{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
		<priority>0.4</priority>
	</url>
{%- endfor %}
</urlset>
