---
permalink: /sitemaps/religioustheory-pages-sitemap.xml
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set lastUpdated = theory.lastUpdated or (page.inputPath | lastModifiedDate) -%}
	<url>
		<loc>{{ "/religioustheory/pages/" | htmlBaseUrl(metadata.url) }}</loc>
		{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
		<priority>0.4</priority>
	</url>

{%- for pg in (theory.pages or []) %}
	{%- if pg.slug %}
		<url>
			<loc>{{ ("/religioustheory/pages/" ~ (pg.slug | slugify) ~ "/") | htmlBaseUrl(metadata.url) }}</loc>
			{% if lastUpdated %}<lastmod>{{ lastUpdated | htmlDateString }}</lastmod>{% endif %}
			<priority>0.4</priority>
		</url>
	{%- endif %}
{%- endfor %}
</urlset>
