---
permalink: /sitemaps/tags-sitemap.xml
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	<url>
		<loc>{{ "/tags/" | htmlBaseUrl(metadata.url) }}</loc>
		{% set lm = "content/tags.njk" | lastModifiedDate %}
		{% if lm %}<lastmod>{{ lm | htmlDateString }}</lastmod>{% endif %}
		<priority>0.2</priority>
	</url>

	{% for tag in collections | getKeys | filterTagList | sortAlphabetically %}
		{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		{% set latest = "0000-00-00" %}
		{% if collections[tag] %}
			{% for item in collections[tag] %}
				{% set d = (item.inputPath | lastModifiedDate) | htmlDateString %}
				{% if d > latest %}{% set latest = d %}{% endif %}
			{% endfor %}
		{% endif %}
		<url>
			<loc>{{ tagUrl | htmlBaseUrl(metadata.url) }}</loc>
			{% if latest != "0000-00-00" %}<lastmod>{{ latest }}</lastmod>{% endif %}
			<priority>0.2</priority>
		</url>
	{% endfor %}
</urlset>
