---
layout: theory.njk
pagination:
  data: theory.posts
  size: 10
  alias: postlist
permalink: "/religioustheory/posts/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber }}{% endif %}/"
---
{% include "partials/nav_desktop.njk" %}

<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto p-3 p-md-5">
      <h1>Religious Theory Posts</h1>
      <ul>
      {% for post in pagination.items %}
        <li class="p-3">
          <a href="/religioustheory/posts/{{ post.slug }}/">{{ post.title }}</a>
<small>{{ post.date | postDate }}</small>
        </li>
      {% endfor %}
      </ul>

      <div class="row">
      {% if pagination.href.previous %}
      <div class="col-md-6">
        <a href="{{ pagination.href.previous }}" class="btn btn-pink">← Newer</a>
        </div>
      {% endif %}
      {% if pagination.href.next %}
      <div class="col-md-6  text-end">
        <a href="{{ pagination.href.next }}" class="btn btn-pink">Older →</a>
      </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
